@import '../../assets/sass/variables';

.labelLight {
  display: block;
  text-align: left;
  margin: 7px 10px;
  color: $text-light;
}
.labelDark {
  @extend .labelLight;
  color: $text-dark;
}
.inputLight {
  cursor: text;
  display: block;
  text-align: left;
  margin-bottom: 6px;
  border-style: none;
  border-radius: 25px;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
  background-color: $bg-lighter;
  box-shadow: $box-light;

  &::grammar-error {
    text-decoration: none;
  }
  &::placeholder {
    color: $middle-dark;
  }
}
.inputDark {
  @extend .inputLight;
  background-color: $bg-dark;
  box-shadow: $box-dark;
  &::placeholder {
    color: $middle-light;
  }
}
