@import '../../assets/sass/_variables.scss';

.label {
  display: block;
  text-align: left;
  margin: 7px 10px;
  color: $textColor;
}
.input {
  cursor: text;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  background-color: #ffffff;
  box-shadow: $boxShadow;
  border-style: none;
  border-radius: 25px;
  outline: none;
  padding: 10px 15px;
  font-size: 18px;
}
