@import '../../assets/sass/variables';

.divLight {
  // remove browser addressbar on mobiles
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-light;
}
.divDark {
  @extend .divLight;
  background-color: $bg-darker;
}
