@import '../../assets/sass/variables';

.divLight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-light;
}
.divDark {
  @extend .divLight;
  background-color: $bg-darker;
}
