@import '../../assets/sass/_variables.scss';

.button {
  font-size: 17px;
  width: 33%;
  height: 40px;
  cursor: pointer;
  background-color: $buttonColor;
  color: rgb(245, 245, 245);
  border: none;
  border-radius: 25px;
  padding: 5px 15px;
  box-shadow: $boxShadow;
}
