@import '../../assets/sass/variables';

.spanLight {
  font-family: 'Merienda', cursive !important;
  font-size: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 100px;
  height: 100px;
  background-color: $bg-lighter;
  box-shadow: $box-light;
}
.spanDark {
  @extend .spanLight;
  background-color: $bg-dark;
  box-shadow: $box-dark;
}

.firstPlayer {
  color: $first-player;
}
.secondPlayer {
  color: $second-player;
}
