@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  button {
    width: 55%;
    margin: 12px auto;
  }
  input[name='firstPlayer'] {
    color: $firstPlayer;
    caret-color: $firstPlayer;
    @include webkitAutofill {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $firstPlayer;
    }
  }
  input[name='secondPlayer'] {
    color: $secondPlayer;
    caret-color: $secondPlayer;
    @include webkitAutofill {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $secondPlayer;
    }
  }
}
.error {
  font-family: 'ComfortaaMedium';
  font-size: 13px;
  color: $buttonColor;
  height: 13px;
  align-self: flex-start;
  margin: 1px 5px;
  padding-top: 3px;
}
@supports (font-variation-settings: normal) {
  .error {
    font-variation-settings: 'wght' 500;
  }
}
