@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  button {
    width: 55%;
    margin: 12px auto;
  }
  input[name='firstPlayer'] {
    color: $first-player;
    caret-color: $first-player;
    @include webkitAutofill {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $first-player;
    }
  }
  input[name='secondPlayer'] {
    color: $second-player;
    caret-color: $second-player;
    @include webkitAutofill {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $second-player;
    }
  }
}
.errorLight {
  font-family: 'ComfortaaMedium';
  font-size: 13px;
  height: 13px;
  align-self: flex-start;
  margin: 1px 5px;
  padding-top: 3px;
  color: $button-blue-bg-light;
}
.errorDark {
  @extend .errorLight;
  color: $button-blue-bg-dark;
}
@supports (font-variation-settings: normal) {
  .errorLight {
    font-variation-settings: 'wght' 500;
  }
  .errorDark {
    font-variation-settings: 'wght' 500;
  }
}
