@font-face {
  font-family: MeriendaBold;
  src: url('./assets/fonts/Merienda/Bold.ttf');
}
@font-face {
  font-family: MeriendaRegular;
  src: url('./assets/fonts/Merienda/Regular.ttf');
}

body,
* {
  font-family: 'MeriendaBold', cursive;
}
