@import '../../assets/sass/_variables.scss';

.header {
  width: 310px;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed rgba($textColor, 0.3);
}
.h1 {
  font-size: 25px;
  color: $textColor;
}
