@import '../../assets/sass/variables';

.footer {
  font-size: 15px;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallLight {
  font-family: 'ComfortaaMedium', cursive;
  text-decoration: none;
  color: $text-light;
}
.smallDark {
  @extend .smallLight;
  color: $text-dark;
}
@supports (font-variation-settings: normal) {
  .smallLight {
    font-family: 'ComfortaaV', cursive;
    font-variation-settings: 'wght' 500;
  }
  .smallDark {
    font-family: 'ComfortaaV', cursive;
    font-variation-settings: 'wght' 500;
  }
}
