@import '../../assets/sass/_variables.scss';

.footer {
  font-family: 'MeriendaRegular', cursive;
  font-size: 15px;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  a {
    color: $textColor;
    text-decoration: none;
  }
}