@import '../../assets/sass/variables';

.footer {
  font-size: 15px;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallLight {
  padding: 10px;
  font-weight: 400 !important;
  text-decoration: none;
  color: $text-light;
}
.smallDark {
  @extend .smallLight;
  color: $text-dark;
}
